.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.player {
  text-align: center;
  display: inline-block;
  margin:0% 5% 0% 5%;
  padding: 5%;
  position: relative;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  /* margin: 10%; */
}

img {
  width: 80%;
}
.player{
  /* padding: 5%; */
  /* margin: 5%; */
  text-align: center;

}
/* diceimages */
.images{
  width: 75%;
  position: relative; 
  /* text-align: center; */
  right: 2%;
  /* padding: 10%; */
  margin: 5%;
  display:inline;
}

.dice1{
  position: absolute; 
  z-index: 6;
}

.dice2{
  position: absolute; 
  z-index: 5;
}

.dice3{
  position: absolute; 
  z-index: 4;
}

.dice4{
  position: absolute; 
  z-index: 3;
}

.dice5{
  position: absolute; 
  z-index: 2;
}

.dice6{
  position: absolute; 
  z-index: 1;
}

footer {
  margin-top: 15%;
  padding: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
